<div class="container">
	<form action="/user/update/<%=user.id%>" method="POST" accept-charset="utf-8" class="form-singin">
		<label>Name</label> 
		<input type="text" name="name" class="form-control" value="<%= user.name %>" required><br>
		<label>Lastname</label>
		<input type="text" name="lastname" class="form-control" value="<%= user.lastname %>" required><br>
		<label>Username</label>
		<input type="text" name="username" class="form-control" value="<%= user.username %>" required><br>
		<label>Email</label>
		<input type="email" name="email" class="form-control" value="<%= user.email %>" required><br>
		<br>
		<input class="btn btn-success" type="submit" value="Update">

	</form>
</div>